{
  "example-modrinth.jar": "https://modrinth.com/mod/example/version/abc123",
  "example-curseforge.jar": "https://www.curseforge.com/minecraft/mc-mods/example/files/1234567",
  "example-gdrive.jar": "https://drive.google.com/file/d/FILE_ID/view"
}
